<form method="post" action="{{ path('produit_boutique_delete', {'id': produit_boutique.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_boutique.id) }}">
    <button class="btn btn-danger mt-3">Supprimer</button>
</form>
