{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaires{% endblock %}

{% block body %}
    <h1>Créer un nouveau commentaires</h1>

    {{ include('commentaires/_form.html.twig') }}

    <a href="{{ path('commentaires_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
