{% extends 'base.html.twig' %}

{% block title %}Modifier JeuxQuizz{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Modifier JeuxQuizz</h1>

    {{ include('jeux_quizz/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('jeux_quizz_index') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('jeux_quizz/_delete_form.html.twig') }}
{% endblock %}
