{% extends 'base.html.twig' %}

{% block title %}Nouveau JeuxQuizz{% endblock %}

{% block body %}
    <h1>Créer un nouveau JeuxQuizz</h1>

    {{ include('jeux_quizz/_form.html.twig') }}

    <a href="{{ path('jeux_quizz_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
